* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
}
body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    width: 400px;
    background-color: hsl(0, 0%, 12%);
    padding: 0.625rem;
    text-align: center;
    border-radius: 10px;
}
main .content {
    margin: 0.625rem;
    padding: 1.25rem;
}
main .content img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1.5625rem;
}
main .content h1 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}
main .content h2 {
    color: hsl(75, 94%, 57%);
    font-size: 0.875rem;
    margin-bottom: 1.5625rem;
}
main .content p {
    margin-bottom: 1.5625rem;
    font-size: 1rem;
    font-weight: 500;
}
main .content div a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    padding: 0.9375rem 0.625rem;
    border-radius: 0.625rem;
    font-weight: 600;
}
main .content div a:hover {
    transition: 0.5s ;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

/* Mobile Screen */
@media (max-width: 430px) {
    main {
        width: 350px;
    }
    main .content p {
        font-size: 0.875rem;
    }
    main .content {
        padding: 0.625rem;
    }
}